.aboutme {
    padding-top: 120px;

    .aboutme__grid {
        display: grid;
        column-gap: 70px;
        row-gap: 40px;
        grid-template-columns: 400px 570px;
        grid-template-rows: repeat(2, minmax(280px, auto));

        .first {
            grid-row: 1/3;
            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }

        .second {
            .descr__name {
                position: relative;
                margin-top: 6px;
                margin-left: 12px;
                margin-bottom: 6px;
                @include circle;
                &::before {
                    top: -6px;
                    left: -12px;
                }
            }

            .aboutme__name {
                position: relative;

                &::before {
                    content: "";
                    position: absolute;
                    width: 60px;
                    height: 3px;
                    background-color: $main-color;
                    top: 67px;
                }
            }

            .aboutme__subdescr {
                margin-top: 30px;
            }
        }

        .third {
            display: grid;
            row-gap: 50px;
            column-gap: 50px;
            grid-template-columns: repeat(2, 260px);
            padding-left: 60px;

            .aboutme__subgrid {
                position: relative;
                @include circle;

                &::before {
                    top: 0px;
                    left: -60px;
                }

                img {
                    position: absolute;
                    left: -45px;
                    top: 15px;
                }

                .subgrid_subdescr {
                    width: 200px;
                    margin-top: 6px;
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 18px;
                    color: #000000;
                }
            }
        }
    }
}