.skills {
    padding-top: 120px;

    .skills__wrapper {
        padding: 85px 10px 0 10px;
        display: grid;
        grid-template-columns: repeat(4, 270px);
        grid-template-rows: repeat(2, 270px);
        gap: 13px;

        .skills__element {
            border: 1px solid #000000;
            padding: 30px 30px 25px 30px;

            .skills__img {
                display: flex;
                align-items: center;
                height: 65px;
            }

            h3 {
                margin-top: 20px;
            }

            .title_fz12 {
                margin-top: 15px;
                width: 211px;
                height: 94px;
            }
        }
    }

    .percent__wrapper {
        padding-top: 120px;
        display: grid;
        grid-template-columns: repeat(3, 350px);
        grid-template-rows: repeat(2, 70px);
        row-gap: 30px;
        column-gap: 45px;

        .percent__element {
            display: grid;
            grid-template-columns: 182px 34px;
            grid-template-rows: 21px 14px;
            justify-content: space-between;
            align-content: space-between;

            h3 {
                padding-left: 13px;
                position: relative;
                @include circle;

                &::before {
                    top: -7px;
                    left: 0;
                }
            }

            .percent__element-number {
                font-weight: 500;
            }

            .percent__line {
                width: 350px;
                height: 14px;
                background: #e8e4de;
                border-radius: 4px;

                span {
                    display: block;
                    width: 100%;
                    height: 14px;
                    background: $main-color;
                    border-radius: 4px;
                }
            }
        }
    }
}